
.film-poster {
	img {
		position: relative;
		border-radius: 4px;
		width: 100%;
		//object-fit: contain;
		transition: transform 0.25s;
	}

	.film-poster-back {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 20;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		opacity: 0;
		padding: 16px;
		box-sizing: border-box;
		background-color: rgba(255, 255, 255, 0.8);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		transform: rotateY(-180deg);
		transition: transform 0.8s;
	}

	.film-poster__title {
		padding: 0;
		margin: 0 0 8px;
		font-size: 24px;
		line-height: 1;
	}

	.film-poster__subtitle {
		padding: 0;
		margin: 0 0 32px;
		font-size: 20px;
	}

	.film-poster__desc {
		flex: 1 1 auto;
		max-height: 100px;
		overflow: hidden;
	}

	.button__wrapper {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		justify-content: flex-end;
		margin-top: 32px;

		.button {
			width: 100%;

			+ .button {
				margin-top: 16px;
			}
		}
	}

	.card-favorite {
		position: absolute;
		top: 8px;
		right: 8px;
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 24px;
		color: #00b3e5;

		&.active {
			color: red;
		}

		svg {
			width: 100%;
			fill: currentColor;
		}
	}
}